@using Distribution.Services
@using Microsoft.Extensions.Configuration
@using Terminal.Core.Services

@inject ISnackbar Messenger
@inject IConfiguration Configuration

@inherits LayoutComponentBase

<PageTitle>Terminal</PageTitle>

<MudThemeProvider Theme="theme" IsDarkMode="true" />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudDialogProvider />

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
  @Body
</MudContainer>

@code {

  protected DashboardTheme theme = new();

  protected override void OnAfterRender(bool setup)
  {
    if (setup)
    {
      StateHasChanged();

      InstanceService<MessageService>.Instance.Update += o =>
      {
        try
        {
          InstanceService<RecordService>
            .Instance
            .Recorder
            .Information("{@Message}", o);

          if (o?.Content is not null)
          {
            Messenger.Add(@<p>@(o.Content)</p>);
          }
        }
        catch (Exception) { }
      };
    }
  }
}
