@using Core.Enums
@using Core.Messengers
@using Core.Models

@inject ISnackbar Popup
@inject IConfiguration Configuration
@inject LogService Recorder
@inject Messenger Streamer

@inherits LayoutComponentBase

<PageTitle>Terminal</PageTitle>

<MudThemeProvider Theme="theme" IsDarkMode="true" />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudDialogProvider />

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
  @Body
</MudContainer>

@code {

  protected DashboardTheme theme = new();
  protected override void OnAfterRender(bool setup)
  {
    if (setup)
    {
      StateHasChanged();

      Streamer.Messages.Subscribe(nameof(StreamEnum.Message), o =>
      {
        try
        {
            Recorder
            .Data
            .Information("{@Message}", o);

          if (o?.Content is not null)
          {
            Popup.Add(@<p>@(o.Content)</p>);
          }
        }
        catch (Exception) { }
      });
    }
  }
}
