@using Core.Enums
@using Core.Models
@using Orleans.Streams

@inject ISnackbar Popup
@inject IConfiguration Configuration
@inject CommunicationService Messenger
@inject RecordService Recorder

@inherits LayoutComponentBase

<PageTitle>Terminal</PageTitle>

<MudThemeProvider Theme="theme" IsDarkMode="true" />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudDialogProvider />

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
  @Body
</MudContainer>

@code {

  protected DashboardTheme theme = new();
  protected override void OnAfterRender(bool setup)
  {
    if (setup)
    {
      StateHasChanged();

      Messenger.Stream.SubscribeAsync((o, x) =>
      {
        try
        {
          Recorder.Service.Information("{@Message}", o);

          if (o?.Content is not null)
          {
            Popup.Add(@<p>@(o.Content)</p>);
          }
        }
        catch (Exception) { }
        return Task.CompletedTask;
      });
    }
  }
}
