<MudExpansionPanels MultiExpansion="false">
  <MudExpansionPanel>
    <TitleContent>
      <div class="d-flex">
        <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
        <MudText>@Name</MudText>
      </div>
    </TitleContent>
    <ChildContent>
      <div class="views">
        <CanvasGroupView @ref="View"></CanvasGroupView>
      </div>
    </ChildContent>
  </MudExpansionPanel>
</MudExpansionPanels>
