.card-body {
  display: block;
}

.card-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #555;
}

.card-row:last-child {
  border: 0;
}

.cell-name {
  white-space: nowrap;
  width: 70%;
}

.statements {
  gap: 15px;
}

@media (min-width: 600px) {
  .statements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .statements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
