.card-body {
  display: block;
}

.card-row {
  display: flex;
  border-bottom: 1px dashed #EEE;
}

.card-row:last-child {
  border: 0;
}

.cell-name {
  text-align: right;
  width: 50%;
}
