@if (Stats.Any())
{
  @foreach (var group in Stats)
  {
    <div class="card mb-3">
      <div class="blue-grey darken-4 text-light pa-4">
        @group.Key
      </div>
      <div class="card-body ma-4">
        @foreach (var data in group.Value)
        {
          <div class="cell-name py-2 pr-4 text-right">@data.Name</div>
          <div class="cell-value py-2 mr-3">@ShowDouble(data.Value)</div>
        }
      </div>
    </div>
  }
}
