@using Core.Enums
@using Core.Models
@using Dashboard
@using Dashboard.Components
@using Dashboard.Services
@using Dashboard.Templates
@using Dashboard.Themes
@using Orleans
@using Orleans.Streams

@inject ISnackbar Popup
@inject IConfiguration Configuration
@inject IClusterClient Connector
@inject LogService Recorder

@inherits LayoutComponentBase

<PageTitle>Terminal</PageTitle>

<MudThemeProvider Theme="theme" IsDarkMode="true" />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudDialogProvider />

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
  @Body
</MudContainer>

@code {

  protected DashboardTheme theme = new();
  protected override void OnAfterRender(bool setup)
  {
    if (setup)
    {
      var messenger = Connector
        .GetStreamProvider(nameof(Message))
        .GetStream<Message>(string.Empty, Guid.Empty);

      StateHasChanged();

      messenger.SubscribeAsync<Message>((message, o) =>
      {
        try
        {
          Recorder.Data.Information("{@Message}", message);

          if (message.Description is not null)
          {
            Popup.Add(@<p>@(message.Description)</p>);
          }
        }
        catch (Exception) { }

        return Task.CompletedTask;
      });
    }
  }
}
